img {
    border-radius: 1.25em 1.25em 0 0;
    -webkit-border-radius: 1.25em 1.25em 0 0;
    -moz-border-radius: 1.25em 1.25em 0 0;
    -ms-border-radius: 1.25em 1.25em 0 0;
    -o-border-radius: 1.25em 1.25em 0 0;
}