//
// COLORS
// ----------------------------------------------

$color-bg-body: hsl(225, 100%, 94%);
$color-bg-wrap: #fff; 
$color-bg-plan: hsl(224, 23%, 96%);
$color-bg-button: hsl(245, 75%, 52%);
$color-text-high: hsl(223, 47%, 23%);  
$color-text-light: hsl(224, 23%, 55%); 


//
// FONTS
// ----------------------------------------------

$font-family-sans: 'Red Hat Display', sans-serif;
